@import url("fonts.css");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  background-color: #EFEFEF;
  padding: 0;
  margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fontPageContainer {
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat((4, 1fr));
  background-color: #EFEFEF;
  color: #121212;
  text-align: center;
  grid-gap: 2rem;
}

.fontPageImage {
  object-fit: scale-down;
  float: right;
}

.fontList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
}
.fontListBox {
  position: relative;
  width: fit-content;
  padding: 10px;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.fontListItem {
  border-radius: 3px;
}
@media only screen and (max-width: 600px) {
  .fontList {
      grid-template-columns: repeat(1, 1fr);
  }
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
