@import url('contact.css');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body > * {
  flex-shrink: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fontPageImage {
  object-fit: scale-down;
  float: right;
}

.fontList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
}

.fontListBox {
  position: relative;
  width: fit-content;
  padding: 10px;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.fontListItem {
  border-radius: 3px;
}

.fontPreviewTemplateColumns {
  grid-template-columns: 10% 80% 10%;
}

@media only screen and (max-width: 800px) {
  .fontList {
    grid-template-columns: repeat(1, 1fr);
  }
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}